<template>
  <div>
      <h3>{{item.title}}</h3>
      <p>{{item.text}}</p>
  </div>
</template>

<script>
export default {
    name: 'item',
    props: {
        item: Object
    }
}
</script>

<style scoped>

</style>