<template>
  <div id="creator">
      <h1>Blog Creator</h1>
  </div>
</template>

<script>
export default {
    name: 'creator'
}
</script>

<style scoped>
    #creator {
        margin: 50px 0;
    }
</style>