<template>
<div>
  <div v-for="item in blogs" v-bind:key="item.id">
      <BlogItem v-bind:item="item"/>
  </div>
</div>
</template>

<script>
import BlogItem from './BlogItem.vue'

export default {
    name: 'blogs',
    props: {
        blogs: Array
    },
    components: {
        BlogItem
    }
}
</script>

<style>

</style>