<template>
  <div id="app">
    <NavBar />
    <img alt="Vue logo" src="./assets/logo.png">
    <!-- <div v-for="(blog, i) in blogs" :key="i"></div> -->
    <BlogCreator />
    <Blogs v-bind:blogs="blogs"/>
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue'
import BlogCreator from './components/BlogCreator.vue'
import Blogs from './components/Blogs.vue'

export default {
  name: 'app',
  components: {
    NavBar,
    BlogCreator,
    Blogs
    
  },
  data() {
    return {
      blogs: [
        {
          id: 1,
          title: "Naslov 1",
          text: "Sadrzaj teksta"
        },
        {
          id: 2,
          title: "Naslov 2",
          text: "Sadrzaj teksta 2"
        }
      ]
    }
  }
 
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#app img {
  margin-top: 50px;
}
</style>
